@font-face {
    font-family: 'spaceGrotesk';
    src: url('./SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'lexend';
    src: url('./LexendDeca-VariableFont_wght.ttf') format('truetype');
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    background-color: #e4e5ebff;
    display: flex;
    flex-direction: column;
    margin: 0;
}

#totalListOptionBar {
    background-color: #e4e5ebff;
    border-bottom: 1px solid black;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 2;
}

#totalListOptionBar h1 {
    font-size: 5rem;
    margin: 0;
    font-family: 'spaceGrotesk';
}

/* new list button */
.createList {
    background-color: black;
    color: aliceblue;
    border: none;
    padding: 20px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'spaceGrotesk';
    font-weight: 100;
}

#listArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    z-index: 1;
}

.list {
    background-color: violet;
    min-height: 600px;
    width: 400px;
    height: auto;
    margin-top: 80px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 40px;
    border: 6px solid black;
}

/* list name */
.newListName {
    color: black;
    font-size: 2rem;
    margin: 0px;
    text-align: left;
    height: auto;
    font-family: 'spaceGrotesk';
    cursor: default;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

#listName {
    background-color: transparent;
    border: none; /* Removes the default border */
    outline: none;
}

#deleteList {
    background-color: aqua;
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: black;
    cursor: pointer;
}

/* name change area */
.nameArea {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 40px;
    padding: 0px 20px 20px 20px;
    margin: 0;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.newListNameTitle {
    color: black;
    cursor: pointer;
    font-size: 1rem;
    margin: 0;
    font-family: 'lexend';
    font-weight: 100;
    position: relative;
}

.newListNameTitle::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.newListNameTitle:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.nameChangeArea {
    min-width: 50%;
    max-width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
}

.nameChangeArea input {
    font-family: 'lexend';
    font-weight: 100;
    font-size: 1rem;
    width: 260px;
}

.nameChangeArea input::placeholder {
    color: black;
    font-family: 'lexend';
}

.inputTaskArea {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
}

#taskValue {
    background-color: transparent;
    font-size: 1.5rem;
    font-family: 'lexend';
    border: none;
    font-weight: 100;
    width: 260px;
    color: black;
    margin-bottom: 40px;
}

#taskValue::placeholder {
    color: black;
}

.submitTask {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    background-color: black;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

#taskValue:focus {
    outline: none;
}

#submitListName {
    background-color: black;
    border: none;
    color: aliceblue;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}

li {
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
    font-size: 1.5rem;
    font-family: 'lexend';
}

#deleteButton, #completeButton, #importantButton {
    background-color: transparent;
    outline: none;
    display: inline;
    width: auto;
    font-family: 'lexend';
    border: none;
    font-weight: 100;
    margin: 0;
    font-size: 1rem;
    cursor: pointer;
}

.itemButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    padding-left: 20px;
    margin-bottom: 40px;
}